---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Hoda Salim | Blog</title>
	</head>
	<body>
		<h1>Hey There!</h1>
        <p>I'm Hoda Salim a junior Software Engineer</p>
        <p>Here is my knowledge garden, I curate what I learn as blog posts as a form of learning in public</p>
	</body>
</html>
